.imdoneignore
.imdone/
.vagrant/
bin/symphony
/obj/*
!/obj/.keep
/tmp/*
!/tmp/.keep
/data/disabled_commands/*
!/data/disabled_commands/.keep
/data/zones/*
!/data/zones/the-tundra.zone.txt
!/data/zones/.keep
/data/avatars/*
!/data/avatars/.keep
/data/deadpool/*
!/data/deadpool/.keep
src/proto/*
test/obj/*
test/bin/*
